@model IEnumerable<Penalty.Models.PenaltyModel>
@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = ViewBag.Layout ?? "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <img src="~/content/picEST.jpg" alt="Header Image" class="img-responsive" style="width: 100%; height: auto;">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form method="get" action="@Url.Action("Index", "Home")">
                <div class="form-group">
                    <label for="searchCarNumber">Otsi auto peale:</label>
                    <input type="text" name="searchCarNumber" class="form-control" placeholder="Sisesta auto numbri" value="@Request.QueryString["searchCarNumber"]" />
                </div>
                <button type="submit" class="btn btn-primary">Otsi...</button>
            </form>
            <table class="table">
                <tr>
                    <th>
                        @* Translation: Email *@
                        E-post
                    </th>
                    <th>
                        @* Translation: Car Number *@
                        Auto number
                    </th>
                    <th>
                        @* Translation: Name *@
                        Nimi
                    </th>
                    <th>
                        @* Translation: Date *@
                        Kuupäev
                    </th>
                    <th>
                        @* Translation: Speed *@
                        Kiirus
                    </th>
                    <th>
                        @* Translation: Sum *@
                        Summa
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarNumber) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Speed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Summa)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>